html, body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0; 
    padding: 0;
    text-align: center;
    background-image: url("images/table.png");
    background-size: cover;
    color: white;
    font-weight: bold;
}
h1 {
    color: goldenrod;
}

.message-el{
    font-style: italic;
}
button{
    color: #016f32;
    font-size: 15px;
    font-weight: bold;
    width: 200px;
    padding: 10px 0px;
    background: goldenrod;
    border: none;
    border-radius: 5px ;
    margin: 2px 0px;
}
/* .btn{
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: center; */
 
/* } */ 